* {
    background:                     #00000066;
    background-alt:                 #00000066;
    foreground:                     #FFFFFF66;
    border:               			#00000066;
    border-alt:               		#00000066;
    selected:               		#50476F66;
    urgent:                         #00000066;
}
